# API
DATABASE_URL=postgresql://postgres:password@localhost:5432/qaidilife
PRISMA_ALLOW_INIT_FAILURE=false
PRISMA_SKIP_CONNECT=false
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me
CORS_ORIGIN=http://localhost:3000
CDN_BASE_URL=https://cdn.qaidilife.com

# SSLCommerz
SSLCOMMERZ_INIT_URL=
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASS=
SSLCOMMERZ_SUCCESS_URL=
SSLCOMMERZ_FAIL_URL=
SSLCOMMERZ_CANCEL_URL=
SSLCOMMERZ_IPN_URL=
SSLCOMMERZ_VALIDATION_URL=

# ShurjoPay
SHURJOPAY_TOKEN_URL=
SHURJOPAY_PAYMENT_URL=
SHURJOPAY_VERIFY_URL=
SHURJOPAY_USERNAME=
SHURJOPAY_PASSWORD=
SHURJOPAY_PREFIX=QAIDI
SHURJOPAY_RETURN_URL=
SHURJOPAY_CANCEL_URL=

# Admin
ADMIN_EMAIL=admin@qaidilife.com
ADMIN_PASSWORD=change_me
ADMIN_SEED_FORCE=false
ADMIN_JWT_SECRET=change_me_admin
